<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Art Project</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="scroll-smooth">

  <!-- Header -->
  <header class="fixed top-0 left-0 w-full z-50 border-b-4 border-white border-opacity-50 bg-white/0 backdrop-blur-md shadow-2xl">
    <div class="flex items-center justify-between px-2">
      <div class="flex items-center gap-4 bg-black h-[40px] w-[40px] rounded-full">
        <!-- User Icon -->
      </div>
      <div class="flex gap-4 px-4 py-3">
        <a href="/">
          <button class="text-lg font-medium w-24 text-center px-2 py-1 rounded-md border border-gray-300 hover:bg-gray-800 hover:text-gray-100 hover:font-bold">
            Home
          </button>
        </a>
        <a href="/register">
          <button class="text-lg font-medium w-24 text-center px-2 py-1 rounded-md border border-gray-300 hover:bg-gray-800 hover:text-gray-100 hover:font-bold">
            Login
          </button>
        </a>
        <a href="/category">
          <button class="text-lg font-medium w-32 text-center px-2 py-1 rounded-md border border-gray-300 hover:bg-gray-800 hover:text-gray-100 hover:font-bold">
            Categories
          </button>
        </a>
      </div>
    </div>
  </header>

  <!-- Home Section -->
  <section id="home" class="flex flex-col items-center justify-center h-screen w-full bg-[url('/images/back.jpeg')] bg-cover border-b-4 border-black border-opacity-50 pt-20">
    <h1 class="text-4xl font-bold">Welcome to the Art Project</h1>
    <p class="text-lg">This is the home page of the Art Project</p>
  </section>
</body>
</html>
